<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MI Hackathon</a>


</nav>
<div class="container">
  <div class="row">
    <div class="col-4">

    </div>
    <div class="col-8">
      <img src='assets/image1.jpg' id="image">
      <div class="points" id="lefts">

      </div>
      <div class="points" id="rights">

      </div>
      <div class="points" id="lefth">

      </div>
      <div class="points" id="righth">

      </div>
    </div>
  </div>
</div>
